

/*-------------------------------*/
/*     jumbotron & navigation    */
/*-------------------------------*/
.jumbotron {
	background-image: url("images/hero01.png");
	color: #fff;
	height: 100vh;
}
.navbar {
	background-color: transparent;
	border: none;
	font-size: 13px;
	font-weight: 700;
}
.nav {
	float: right;
}
.navbar-brand {
	float: left;
	font-size: 19px;
	font-weight: 400;
}
.navbar-brand span {
	color: #ed145b;
}
.navbar-brand .span01 {
	color: #fff;
}


/*-------------------------------*/
/*        psd description        */
/*-------------------------------*/

.pds_description {
	background-color: #f4f4f4;
	height: 649px;
}


/*-------------------------------*/
/*          our services         */
/*-------------------------------*/



/*-------------------------------*/
/*            carousel           */
/*-------------------------------*/



/*-------------------------------*/
/*        products&prices        */
/*-------------------------------*/



/*-------------------------------*/
/*     descriprion of services   */
/*-------------------------------*/



/*-------------------------------*/
/*             slogan            */
/*-------------------------------*/



/*-------------------------------*/
/*  our latest updates & gallery */
/*-------------------------------*/



/*-------------------------------*/
/*      template - show more     */
/*-------------------------------*/



/*-------------------------------*/
/*            download           */
/*-------------------------------*/



/*-------------------------------*/
/*             footer            */
/*-------------------------------*/

